In [18]:
import pandas as pd
import numpy as np
import pandas_profiling as pp
import sweetviz as sv

In [2]:
!pip install pandas_profiling

Collecting pandas_profiling
  Downloading pandas_profiling-3.0.0-py2.py3-none-any.whl (248 kB)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_profiling) (4.50.2)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_profiling) (2.11.2)
Collecting visions[type_image_path]==0.7.1
  Downloading visions-0.7.1-py3-none-any.whl (102 kB)
Collecting missingno>=0.4.2
  Using cached missingno-0.4.2-py3-none-any.whl (9.7 kB)
Collecting htmlmin>=0.1.12
  Using cached htmlmin-0.1.12.tar.gz (19 kB)
Requirement already satisfied: joblib in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_profiling) (0.17.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_profiling) (1.1.3)
Collecting phik>=0.11.1
  Downloading phik-0.11.2.tar.gz (1.1 MB)
Requirement already satisfied: scipy>=1.4.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_profiling) (1.5.2)
Collecting pydantic>=1.8.1
  Downloading pydantic-1.8.2-cp38-cp38-win_amd64.whl (2.0 MB)
Requirement already satisfied: numpy>=1.16.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_profiling) (1.19.2)
Collecting tangled-up-in-unicode==0.1.0
  Downloading tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1 MB)
Requirement already satisfied: requests>=2.24.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_profiling) (2.24.0)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_profiling) (5.3.1)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_profiling) (3.3.2)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas_profiling) (0.11.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\lenovo\anaconda3\lib\site-packages (from jinja2>=2.11.1->pandas_profiling) (1.1.1)
Requirement already satisfied: bottleneck in c:\users\lenovo\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas_profiling) (1.3.2)
Requirement already satisfied: networkx>=2.4 in c:\users\lenovo\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas_profiling) (2.5)
Requirement already satisfied: attrs>=19.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas_profiling) (20.3.0)
Collecting multimethod==1.4
  Downloading multimethod-1.4-py2.py3-none-any.whl (7.3 kB)
Requirement already satisfied: Pillow; extra == "type_image_path" in c:\users\lenovo\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.1->pandas_profiling) (8.0.1)
Collecting imagehash; extra == "type_image_path"
  Using cached ImageHash-4.2.0-py2.py3-none-any.whl (295 kB)
Requirement already satisfied: pytz>=2017.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2.8.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\lenovo\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas_profiling) (3.7.4.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.4.7)
Requirement already satisfied: decorator>=4.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.1->pandas_profiling) (4.4.2)
Requirement already satisfied: PyWavelets in c:\users\lenovo\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.7.1->pandas_profiling) (1.1.1)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.7.1->pandas_profiling) (1.15.0)
Building wheels for collected packages: htmlmin, phik
  Building wheel for htmlmin (setup.py): started
  Building wheel for htmlmin (setup.py): finished with status 'done'
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27091 sha256=95b45e2790cf860e34e648fb3cbd5f41703bbab6b165a0facb6e964e7816e59a
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\23\14\6e\4be5bfeeb027f4939a01764b48edd5996acf574b0913fe5243
  Building wheel for phik (setup.py): started
  Building wheel for phik (setup.py): finished with status 'done'
  Created wheel for phik: filename=phik-0.11.2-py3-none-any.whl size=1107420 sha256=e83bf8422068bfe49567e0d8d15b2237245c23e78c726d095cb3557a1f50cb2b
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\72\9a\23\097c93fd8341220d92674891b6a9a30f0e389719d9b7291bd2
Successfully built htmlmin phik
Installing collected packages: tangled-up-in-unicode, multimethod, imagehash, visions, missingno, htmlmin, phik, pydantic, pandas-profiling
  Attempting uninstall: pydantic
    Found existing installation: pydantic 1.7.3
    Uninstalling pydantic-1.7.3:
      Successfully uninstalled pydantic-1.7.3
Successfully installed htmlmin-0.1.12 imagehash-4.2.0 missingno-0.4.2 multimethod-1.4 pandas-profiling-3.0.0 phik-0.11.2 pydantic-1.8.2 tangled-up-in-unicode-0.1.0 visions-0.7.1

ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

thinc 8.0.2 requires pydantic<1.8.0,>=1.7.1, but you'll have pydantic 1.8.2 which is incompatible.
spacy 3.0.5 requires pydantic<1.8.0,>=1.7.1, but you'll have pydantic 1.8.2 which is incompatible.

In [17]:
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.2-py3-none-any.whl (15.1 MB)
Requirement already satisfied: scipy>=1.3.2 in c:\users\lenovo\anaconda3\lib\site-packages (from sweetviz) (1.5.2)
Requirement already satisfied: numpy>=1.16.0 in c:\users\lenovo\anaconda3\lib\site-packages (from sweetviz) (1.19.2)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\lenovo\anaconda3\lib\site-packages (from sweetviz) (3.3.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\lenovo\anaconda3\lib\site-packages (from sweetviz) (1.1.3)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\lenovo\anaconda3\lib\site-packages (from sweetviz) (2.11.2)
Collecting importlib-resources>=1.2.0
  Downloading importlib_resources-5.1.4-py3-none-any.whl (26 kB)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\lenovo\anaconda3\lib\site-packages (from sweetviz) (4.50.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (8.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: pytz>=2017.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2020.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\lenovo\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: zipp>=3.1.0; python_version < "3.10" in c:\users\lenovo\anaconda3\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (3.4.0)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.1.3->sweetviz) (1.15.0)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-5.1.4 sweetviz-2.1.2

In [53]:
data = pd.read_csv("D:\\DATA_science\\Data_sets\\data_clean.csv")

In [8]:
data.head()

   Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0           1   41.0    190.0   7.4     67     5    1  2010    67       S
1           2   36.0    118.0   8.0     72     5    2  2010    72       C
2           3   12.0    149.0  12.6     74     5    3  2010    74      PS
3           4   18.0    313.0  11.5     62     5    4  2010    62       S
4           5    NaN      NaN  14.3     56     5    5  2010    56       S

In [10]:
data.shape

(158, 10)

In [12]:
data.isnull().sum()

Unnamed: 0     0
Ozone         38
Solar.R        7
Wind           0
Temp C         0
Month          0
Day            0
Year           0
Temp           0
Weather        3
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  158 non-null    int64
 1   Ozone       120 non-null    float64
 2   Solar.R     151 non-null    float64
 3   Wind        158 non-null    float64
 4   Temp C      158 non-null    object
 5   Month       158 non-null    object
 6   Day         158 non-null    int64
 7   Year        158 non-null    int64
 8   Temp        158 non-null    int64
 9   Weather     155 non-null    object
dtypes: float64(3), int64(4), object(3)
memory usage: 12.5+ KB

In [14]:
data['Month'].value_counts()

9      34
8      31
7      31
5      31
6      30
May     1
Name: Month, dtype: int64

In [15]:
data['Weather'].value_counts()

S     59
C     49
PS    47
Name: Weather, dtype: int64

In [19]:
data.tail()

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

In [20]:
data.dtypes

Unnamed: 0      int64
Ozone         float64
Solar.R       float64
Wind          float64
Temp C         object
Month          object
Day             int64
Year            int64
Temp            int64
Weather        object
dtype: object

### Data type conversion

In [54]:
data1 = data.iloc[:,1:]

In [55]:
data2 = data1.copy()

In [56]:
data2['Month'] = pd.to_numeric(data2['Month'], errors = 'coerce')## Coerce will introduce NA values for non numeric data in the columns
data2['Temp C'] = pd.to_numeric(data2['Temp C'], errors = 'coerce')
#data2['Weather'] = pd.to_numeric(data2['Weather'], errors = 'coerce')

In [45]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    120 non-null    float64
 1   Solar.R  151 non-null    float64
 2   Wind     158 non-null    float64
 3   Temp C   157 non-null    float64
 4   Month    157 non-null    float64
 5   Day      158 non-null    int64
 6   Year     158 non-null    int64
 7   Temp     158 non-null    int64
 8   Weather  0 non-null      float64
dtypes: float64(6), int64(3)
memory usage: 11.2 KB

In [57]:
data2[data2.duplicated()].shape

(1, 9)

In [58]:
data_cleaned=data2.drop_duplicates()

In [59]:
data_cleaned.shape

(157, 9)

### Drop columns

In [60]:
data_cleaned2=data_cleaned.drop('Temp C', axis=1)

In [61]:
data_cleaned2.head()

   Ozone  Solar.R  Wind  Month  Day  Year  Temp Weather
0   41.0    190.0   7.4    5.0    1  2010    67       S
1   36.0    118.0   8.0    5.0    2  2010    72       C
2   12.0    149.0  12.6    5.0    3  2010    74      PS
3   18.0    313.0  11.5    5.0    4  2010    62       S
4    NaN      NaN  14.3    5.0    5  2010    56       S

### Rename the columns

In [62]:
data_cleaned3=data_cleaned2.rename({'Solar.R':'Solar'}, axis=1)

In [63]:
data_cleaned3

     Ozone  Solar  Wind  Month  Day  Year  Temp Weather
0     41.0  190.0   7.4    5.0    1  2010    67       S
1     36.0  118.0   8.0    5.0    2  2010    72       C
2     12.0  149.0  12.6    5.0    3  2010    74      PS
3     18.0  313.0  11.5    5.0    4  2010    62       S
4      NaN    NaN  14.3    5.0    5  2010    56       S
..     ...    ...   ...    ...  ...   ...   ...     ...
152   20.0  223.0  11.5    9.0   30  2010    68       S
153   41.0  190.0   7.4    5.0    1  2010    67       C
154   30.0  193.0   6.9    9.0   26  2010    70      PS
155    NaN  145.0  13.2    9.0   27  2010    77       S
157   18.0  131.0   8.0    9.0   29  2010    76       C

[157 rows x 8 columns]

### Outlier Detection